nav {
    background-color: rgba(41, 39, 39, 0.626);
    color: white ;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav h2{
    font-size: 36px;
    color: orangered;
}
nav .links{
    width: 50%;
    display: flex;
    justify-content: space-evenly;

}
nav .links a{
    color: white;
    text-decoration: none;
    
}